body {
    background-color: dimgrey;
}
#botones {
    margin: 0 0 0 40px;
}
#inicio {
    width: 620px;
    height: 150px;
}
button {
    width: 200px;
    height: 60px;
    background-color: #f1c232;
    border-radius: 8px;
}
#texto {
    margin: -200px 0 0 400px;
    width: 60%;
}
video {
    margin: 0 0 0 150px;
}
#minimos {
    width: 750px;
    background-color: white;
    margin: 0 0 0 200px;
    font-size: 12px;
    font-family: Arial;
}
#recomendados {
    width: 750px;
    background-color: white;
    margin: -465px 0 0 1000px;
    font-size: 12px;
    font-family: Arial;
}
#arriba {
    margin: 0 0 0 85%;
}
