body {
    background-color: dimgrey;
}
#botones {
    margin: 0 0 0 40px;
}
button {
    width: 200px;
    height: 60px;
    background-color: #f1c232;
    border-radius: 8px;
}

.galeria {
    height: calc( 450px + 3em);
    width: 900px;
    margin:1em auto;
    border: 1px solid #555;
    position: relative;  
}

.galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}
.galeria input[type=radio] {
    position: relative;
    bottom: calc(-450px - 1.5em);
    left: .5em;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
}
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
} 

#imgIzquierda {
    margin: 20px 0 0 40px;
}

#texto {
    margin: -500px 0 0 450px;
    width: 70%;
}
#arriba {
    margin: 0 0 0 85%;
}
#inicio {
    width: 620px;
    height: 150px;
}